@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --blue1: #4d7eff;
  --green1: #73dc96;
  --red1: #ff5e84;
  font-family: "Nunito", sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;

  /* Prevent document pinch-zoom & touch-hold-to-highlight */
  touch-action: none;

  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

  position: relative;
}

.canvas {
  width: 100%;
  height: 100%;
  /* cursor: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-square'><rect x='3' y='3' width='18' height='18' rx='2' ry='2'/></svg>")
      16 16,
    crosshair; */
  cursor: crosshair;
  border: 1px solid rgba(0, 0, 0, 0.25);
  /* border-radius: 1vh;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}

/* Toolbar */
* {
  margin: 0;
  padding: 0;
}

/* body {
  height: 100vh;
  width: 100vw;
  position: relative;
} */

.toolbar {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 700px;
  height: 45px;
  border-radius: 5px;
  /* overflow: hidden; */
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
  /* z-index: 2; */
}

.cta {
  /* margin-right: 20px; */
  transition: all ease 0.2s;
  color: rgb(100, 100, 100);
  cursor: pointer;
}

/* .erase {
  transform: rotate(90deg);
} */

.cta:hover {
  color: rgb(0, 89, 255);
}
.cta:active {
  transform: scale(0.94);
}
/* .slider-container {
   margin-right: 20px; 
} */
#color-picker {
  outline: none;
  border: none;
  background: transparent;
  width: 24px;
  height: 24px;
}

.selected {
  color: rgb(0, 89, 255);
}

.sel-col {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  border: 2px solid rgba(0, 0, 0, 0.25);
}
.toolbar-container {
  /* z-index: -1; */
  bottom: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  /* height: 100px; */
  position: relative;
  /* border: 2px solid black; */
}
.colors {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  box-sizing: border-box;
  cursor: pointer;
  margin-right: -5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.col:hover {
  border: 2px solid rgba(0, 0, 0, 0.25);
  transform: scale(1.02);
  z-index: 1;
  transition: ease-out 0.2s;
}

.col1 {
  background-color: var(--blue1);
}
.col2 {
  background-color: var(--green1);
}
.col3 {
  background-color: var(--red1);
}
.col4 {
  background-color: #000;
}

.toast {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vh;
  height: 0vh;
  border-radius: 10px;
  /* border: 2px solid rgba(0, 0, 0, 0.2); */
  background-color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  transition: all ease 0.3s;
}

.toast.show {
  top: 10%;
  height: 8vh;
  transition: all ease 0.3s;
}

/* .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.35);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  Position the tooltip
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 150%);
  z-index: 2;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  animation: blob 1s;
  transition: ease 0.4s;
} */

.shapes {
  width: 24px;
  height: 24px;
  /* border: 1px solid rgba(0, 0, 0, 0.25); */
  overflow: hidden;
  z-index: 2;
  transition: ease 0.3s;
  border-radius: 5px;
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); */
}

.shape {
  width: 18px;
  height: 18px;
  /* border: 2px solid rgba(0, 0, 0, 0.25); */
  display: none;
}
.shape:hover {
  color: #4d7eff;
}
#line {
  width: 2px;
  background-color: rgba(0, 0, 0, 0.25);
  transform: rotate(30deg);
}

#rect {
  height: 14px;
  width: 18px;
  border: 2px solid rgba(0, 0, 0, 0.25);
}

#sqr {
  height: 14px;
  width: 14px;
  border: 2px solid rgba(0, 0, 0, 0.25);
}

#crl {
  height: 16px;
  width: 16px;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

#elp {
  height: 16px;
  width: 18px;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.shape.show {
  display: block;

  margin-left: 5px;
  margin-right: 5px;
}

.shapes.expanded {
  width: 160px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  transition: ease 0.3s;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25) inset;
}

.dwnld {
  width: 18px;
  height: 18px;
  /* border: 2px solid rgba(0, 0, 0, 0.25); */
  display: none;
}

.dwnlds {
  width: 24px;
  height: 24px;
  /* border: 1px solid rgba(0, 0, 0, 0.25); */
  overflow: hidden;
  z-index: 2;
  transition: ease 0.3s;
  border-radius: 5px;
  /* box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); */
}

.dwnld.show {
  display: block;
}
.dwnlds.expanded {
  width: 120px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  transition: ease 0.3s;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25) inset;
}

.json,
.jpeg {
  text-align: center;
  width: 24px;
  height: 24px;
}
.close {
  color: rgb(245, 53, 53);
}
.hide {
  display: none;
}

.info-btn {
  position: absolute;
  right: 1vh;
  bottom: 1vh;
}
